dotenv: .env
dependencies:
  - aave/aave-v3-core@1.19.2
  - smartcontractkit/chainlink-brownie-contracts@1.1.1
compiler:
  solc:
    remappings:
      - "@aave=aave/aave-v3-core@1.19.2"
      - "@chainlink=smartcontractkit/chainlink-brownie-contracts@1.1.1"
networks:
  default: development
  sepolia:
    eth_usd_price_feed: "0x694AA1769357215DE4FAC081bf1f309aDC325306"
    dai_usd_price_feed: "0x14866185B1962B63C3Ea9E03Bc1da838bab34C19"
    weth_token: "0x7b79995e5f793A07Bc00c21412e50Ecae098E7f9"
    Pool-Proxy: "0x6Ae43d3271ff6888e7Fc43Fd7321a503ff738951"
    pool_address_provider: "0x012bAC54348C0E635dCAc9D5FB99f06F24136C9A"
    aave_dai_token: "0x9aF11c35c5d3Ae182C0050438972aac4376f9516"
    verify: True
  mainnet-fork:
    eth_usd_price_feed: "0x5f4eC3Df9cbd43714FE2740f5E3616155c5b8419"
    weth_token: "0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2"
    pool_address_provider: "0x2f39d218133AFaB8F2B819B1066c7E434Ad94E9e"
    dai_eth_price_feed: "0x773616E4d11A78F511299002da57A0a94577F1f4"
    aave_dai_token: "0x6B175474E89094C44Da98b954EedeAC495271d0F"
    verify: False
  development:
    verify: False
  ganache-local:
    verify: False
  ganache-cli:
    verify: False
wallets:
  from_key: ${PRIVATE_KEY}
